.container-pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 28px;

  .container-search {
    margin: 32px;
  
    h1 {
      font-size: 26px;
      padding: 6px 9px 0 26px;
    }
  
    input {
      height: 50px;
      padding-left: 16px;
      font: 500 20px "Roboto";
      border: solid 1px rgb(199, 199, 199);
      border-radius: 5px;
      transition: 0.3s;
  
      &:hover {
        border: solid 1px rgb(149, 149, 149);
      }
    }
  }

  .container-pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}