.container-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  button {
    height: 68px;
    width: 68px;
    background-color: antiquewhite;
    border-radius: 20px;
  }
}