.container-card {
  height: 200px;
  width: 200px;
  
  .card {
    text-align: center;
    cursor: pointer;
    will-change: transition;
    transition: 0.3s;
    border-radius: 8%;
  
    &:hover {
      transition: 0.3s;
      transform: scale(1.07);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
  
    h1 {
      font-size: 22px;
      letter-spacing: 0.6px;
    }
  }

}

@media only screen and (max-width: 964px) {
  .card h1 {
    font-size: 20px;
  }
}
