.container-flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #f1f1f1;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f1f1f1;
  padding: 22px;
}

@media only screen and (max-width: 1246px) {

  .container-flex {
    overflow: auto;
  }
}