.container-details-card {
  background-color: white;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  padding: 20px;
  margin: 20px;
  border-radius: 16px;

  .pokemon {
    margin-top: 16px;
  
    img {
      height: 15vh;
    }
  }
}